.header {
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 32px 24px;
    color: white;
}

.content-primary {
    display: flex;
    gap: 16px;
    align-items: center;
}

.navbar {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 8px;
}

.navbar__item {
    cursor: pointer;
    user-select: none;
    padding: 8px 12px;
    background-color: #181818;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transition: background-color .3s;
    -webkit-transition: background-color .3s;
    -moz-transition: background-color .3s;
    -ms-transition: background-color .3s;
    -o-transition: background-color .3s;
}

.navbar__item:hover {
    background-color: #333333;
}

.navbar__item:active {
    scale: 0.95;
}

.cart {
    position: relative;
    border: 1px solid #333333;
    padding: 8px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.cart__quantity {
    position: absolute;
    top: -6px;
    left: -12px;
    height: 24px;
    width: 24px;
    display: grid;
    place-items: center;
    background-color: blue;
    border-radius: 9999px;
    -webkit-border-radius: 9999px;
    -moz-border-radius: 9999px;
    -ms-border-radius: 9999px;
    -o-border-radius: 9999px;
}